form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 25px;
}

.form-group {
  padding: 10px;
  background-color: yellow;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 10px;
}

input {
  margin: 10px;
  width: 90%;
}

.artista {
  border: 1px dashed black;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
