/* Text manipulation != Font manipulation

In Font manipulation you can change the way the text looks:

- size
- weight
- style

*/

.lol {
  font-family: monospace;
}

.boring {
  font-family: sans-serif;
}

.lorem {
  font-family: "georgia", serif;
}

.random {
  font-family: fantasy;
}
